{{!< default}}
<div class="intro-container">
	<div class="intro-box">
		<div class="circle-avatar"></div>
		<p style="text-align:center;"><br>
		Hello, and welcome to my site!
		</p><br>
		<p>
		My name is Victor Tang, and I’m a self-taught developer from the Silicon Valley.
		</p><br>
		<p>
		I am well-versed in design, having skill in organizing design projects and using design tools such as the Adobe Creative Suite, be it Photoshop, Indesign, Illustrator, or even After Effects. I also have technical skills such as HTML5, CSS3, Javascript, JQuery, Angular.js, Node.js, and Ruby. I am very active on Github and have deployed apps on Heroku and done work on WordPress sites.
		</p>
	</div>
</div>
