<div class="gallery-container">
	<!-- if projects -->
	{{#if projects}}
		{{#each projects}}
		<!--<h2>{{name}}</h2>-->
				{{#if heroImage}}
				<div class="col-sm-4 col-md-4 gallery-image">
					<img src="{{cloudinaryUrl heroImage width='680' height='680'}}">
				</div>
				{{/if}}
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">There are no image galleries yet.</h3>
	{{/if}}
</div>
