#vert-navbar{
		padding: 2.5em 2.5em 0.5em 2.5em ;
		background-color: rgba(0,0,0,0.5);
		cursor: default;
		height: 100vh;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		position: fixed;
		text-align: right;
		top: 0;
		width: 18em; /* width of bar */
		z-index: 10000;
}
#vert-navbar a {
	color:white;
}
#vert-navbar li {
	width:100%;
}
#vert-navbar a:hover, #vert-navbar a:focus {
	outline:0px;
	text-decoration: underline;
	/*overwrite Bootstrap's .nav > li > a*/
	background-color:transparent;
}
/* ACTIVE GLOW */
#vert-navbar .active, .list-group-item.active, .pagination > .active > a {
	background-color:rgba(255,200,170,0.5);
	box-shadow: 0px 1px 1px 1px rgba(255, 255, 255, 0.1), rgb(255,200,170) 0px 0px 9px inset;
	border-color: rgb(255,200,170);
}
#vert-navbar .active:hover, .list-group-item.active:hover, .pagination > .active > a:hover {
	background-color:rgba(255,200,170,0.5);
	box-shadow: 0 0 3px rgba(255, 255, 255, 0.1), rgb(255,200,170) 0px 0px 20px inset;
	border-color: rgb(255,200,170);
	cursor: pointer;
}
/* ACTIVE GLOW */
#body{
	/*shift body right width of bar */
	margin-left: 18em;
}
body {
	background-color:rgb(20,18,52);
}
/* BASE ^^^ */
/* BLOG STYLING */
.blog-container {
	margin-right: auto;
	margin-left: auto;
	padding-top: 40px;
	padding-left: 15px;
	padding-right: 15px;
}
.blog-container a {
	color:lightgoldenrodyellow;
}
.post {
	border-radius: 5px;
	padding: 40px;
	color:white;
}
/*--dark background transparent--*/
.post, .list-group-item, .pagination > .disabled > a {
	background-color: rgba(0,0,0,0.5);
	border-color: #474747;
}
/*--dark background transparent--*/
/* BLOG STYLING */
/* WORK STYLING */

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* WORK STYLING */
/* CONTACT STYLING */

/* CONTACT STYLING */